*{
padding:0;
margin:0;
}
body{
scroll-behavior:smooth;
width:100%;
}
.name{
display:flex;
justify-content:center ;
color:blue;
border:1px solid red;
}
.nav-menu{
display:flex;
justify-content:flex-end;
border:1px solid red;
}
nav ul{
display:flex;
flex-direction:row;
border:1px solid red;
}
nav ul li{
list-style:none;
padding:2em;
}
nav ul li a{
color:black;
text-decoration:none;
text-transform:uppercase ;
}
nav ul li a::after{
    content:'';
    display:block;
    height:2px;
    margin:auto;
    background:blue;
    width:0;
    transition:.5s ease-in-out;
}
nav ul li a:hover::after{
    width:100%
}
.home h1{
color:linear-gradient(to right , red ,blue);
display:flex;
justify-content:center;
width:90%;
padding:10px;
font-size:48px;
text-align:center ;
border:1px solid red;
}
.home h3{
display:flex;
justify-content:center;
width:100%;
padding:10px;
font-size:36px;
font-weight:400;
}
.btn{
border:none;
background-color:blue;
padding:10px 20px;
border-radius:4px;
color:white;
font-weight:500;
text-transform:uppercase ;
position:relative ;
top:2em;
left:8em;
}
.btn:hover{
    background-color: #0040ff;
    cursor:pointer;
}
.btn a{
    color:white;
    font-weight:500;
    text-transform:uppercase ;
    text-decoration:none;
}
.intro{
background-color:#f0f0f5;
height:40vh;
position:relative ;
top:5em;
border:1px solid red;
}
.intro img{
    height:50vh;
    position:relative;
    left:40em;
}
#developer-img{
    width:35vw;
    border:1px solid red;
    position:relative;
    left:25em;
}
#message-img{
    height:20vh;
    position:relative;
    left:-15em;
    bottom:15em;
}
.intro h1{
position:relative;
top:2em;
font-size:48px;
left:7em;
width:60%;
text-align:center;
color:#0040ff;
}
.intro a{
position:relative ;
top:-7em;
font-size:36px;
left:20em;
text-decoration:none;
color:blue;
font-weight:500;
}
.articles{
position:relative ;
border:1px solid red;
top:10em;
}
.articles h1{
display:flex;
justify-content:center;
color:blue;
width:100%;
font-size:48px;
border:1px solid red;
}
.articles h3{
font-weight:400;
width:100%;
font-size:36px;
text-align:center;
padding:10px;
margin-top:2em;
width:90%;
border:1px solid red;
}
.blog{
box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
width:95%;
position:relative ;
left:10px;
display:grid;
border:1px solid red;
grid-template-columns:40% 35%;
}
.blog img{
width:100%;
}
.blog h1{
text-align:center;
width:170%;
position:relative;
top:.5em;
}
.blog h3{
padding-top:.5em;
padding-bottom:.5em;
position:relative;
width:165%;
}
.blog-footer{
display:flex;
flex-direction:row;
width:100%;
position:relative;
left:5em;
border:1px solid red;
}
.blog-footer img{
width:10%;
padding-left:5px;
padding-bottom:5px;
}
.blog-footer p{
padding-left:1em;
border:1px solid red;
font-size:24px;
}
.blog-footer h4{
border:1px solid red;
position:relative;
left:25em;
}
.newsletter{
position:relative;
top:10em;
border:1px solid red;
}
.newsletter h1{
color:blue;
width:100%;
font-size:48px;
display:flex;
justify-content:center ;
}
.newsletter h3{
width:100%;
font-size:36px;
display:flex;
justify-content:center;
text-align:center;
padding-top:3em;
font-weight:400;
}
.email{
padding:10px 20px;
background-color:#f0f0f5;
border:none;
position:relative ;
left:4em;
height:2em;
width:50%;
top:5em;
padding-top:10px;
border:1px solid red;
}
.btn-2{
border:none;
background-color:blue;
padding:10px 20px;
border-radius:4px;
color:white;
top:5em;
font-weight:500;
text-transform:uppercase ;
position:relative ;
left:9em;
padding-top:10px;
}
.footer{
position:relative ;
top:15em;
background-color:#b3e6ff;
height:60vh;
border:1px solid red;
}
.footer h2{
font-size:48px;
padding:20px;
color:blue;
}
.footer-icons{
display:grid;
row-gap:.5em;
padding:10px;
}
.footer-icons a{
text-decoration:none;
color:black;
font-size:36px;
}
.footer p{
width:100%;
padding:10px;
font-size:36px;
}
@media(max-width:1440px){
    body{
        width:80%;
    }
    .nav-menu{
        width:120%;
    }
    .home{
        width:130%;
    }
    .btn{
        position:relative;
        left:88em;
    }
    .intro a{
        font-size:24px;
        border:1px solid red;
    }
    .articles{
        width:120%;
    }
    .newsletter{
        width:120%;
    }
    .footer{
        width:120%;
    }
}
@media(max-width:1024px){
    .btn{
        left:4em;
    }
    .intro{
        width:120%;
    }
    #message-img{
        height:12vh;
        bottom:5em;
    }
    #developer-img{
        height:30vh;
        width:25vw;
        position:relative;
        left:22em;
    }
    .intro h1{
        position:relative;
        left:4em;
    }
    .intro a{
        position:relative;
        top:-3em;
        left:16em;
    }
    .blog-footer h4{
        left:13em;
    }
}
@media(max-width:768px){
    #message-img{
        display:none;
    }
    .intro h1{
        position:relative;
        left:0em;
    }
    .intro a{
        position:relative;
        top:-5em;
        left:3em;
    }
    #developer-img{
        height:40vh;
        width:40vw;
        position:relative;
        top:-7em;
        left:12em;
    }
    .blog-footer h4{
        left:6em;
    }
}
@media(max-width:425px){
    .name{
        position:relative;
        left:2em;
    }
    .nav-menu{
        position:relative;
        left:15px;
        z-index:1000;
    }
    .btn{
        left:11em;
    }
    .intro h1{
        border:1px solid red;
        width:100%;
        top:0em;
    }
    .intro a{
        top:2em;
        left:0em;
    }
    #developer-img{
        height:30vh;
        width:60vw;
        position:relative;
        top:-3em;
        left:12.5em;
    }
    .articles h3{
        font-size:30px;
    }
    .blog{
        display:grid;
        grid-template-columns:90%;
    }
    .blog-text{
        width:90%;
    }
    .blog-text h1{
        font-size:30px;
        width:120%;
    }
    .blog-text h3{
        font-size:24px;
        width:120%;
    }
    .newsletter h3{
        font-size:30px;
    }
    .email{
        left:2em;
    }
    .btn-2{
        position:relative;
        left:4em;
    }
    .footer-icons a{
        font-size:24px;
    }
    .footer p{
        font-size:20px;
    }
}
@media(max-width:375px){
    .nav-menu{
        display:none;
    }
   nav ul{
       display:flex;
       flex-direction:column;
   }
   #developer-img{
    height:30vh;
    width:70vw;
    position:relative;
    top:-3em;
    left:12.5em;
    }
    .blog-footer h4{
        left:3em;
    }
    .email{
        left:1em;
    }
    .btn-2{
        position:relative;
        left:1em;
    }
    .newsletter h1{
        font-size:34px;
    }
}
@media(max-width:360px){
    .email{
        left:0em;
    }
    .btn-2{
        position:relative;
        left:1em;
    }
}
@media(max-width:335px){
    
}
@media(max-width:328px){
    
}
@media(max-width:320px){
    
}
@media(max-width:295px){
    
}